* {
  margin:0;
  padding:0;
}

header {
  width:1005px;
  margin: 0 auto;	
  text-align: center;
}
header ul {
  list-style: none;
}
header ul li {    
  float:left;
}
header a {
  display:block;
  padding:10px 13px;
  background-color:#ccc;
  margin: 10px;
  text-decoration: none;
}
header a:hover {
  background-color:#000;
  color:#fff;
}


#pet section {
  width:800px;
  margin: 0 auto;	
}
#pet h2 {
  font-size:1.5em;
}
#pet h3 {
  font-size:1.0em;
}
#pet p {
  line-height:20px;
  font-size:12px;
}
#pet .at1 {
  clear:left;
}
#pet article {
  float:left;
  width:350px;
  height:200px;	
  margin:10px;
  padding:10px;	
  border:1px solid #ccc;
}
#pet footer {
  clear:left;
  width:100%;
  height:50px;
  background-color:#222;
}
#pet footer > p {
  color:#fff;
  font-size:0.9em;
  text-align: center;
  line-height:50px;
}


#carousel {
  width:1000px;
  margin:200px auto;
  clear:both;
  position:relative;
}

#carousel p {
  text-align:center;
  font-size:2em;  
}

#carousel #slideShow {
  clear:both;   /* 플로팅 해제 */
  position:relative;
  width:600px;
  height:300px;
  margin:50px auto;
  overflow:hidden;   /* 영역 넘치면 감춤 */ 
  border:2px solid #ccc;
  justify-content: space-between;
}
#carousel #slides {
  position: relative; /*absolute;*/
  width:3600px;
  transition: all 1.5s ease-in-out;  /* 나타날 때 부드럽게 트랜지션 추가 */
}
#carousel #slides > img {
  display: flex;
  flex-direction: column;
  width:600px; /*100%;  /* 너비 */
  height: 300px;
}

#carousel .arrow {
  position: absolute;
  z-index:100;
  font-size:1.3em;
  padding:10px;
  background:#ddd;
  color:#222;
  opacity:0.3;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
#carousel #top {
  top:0;
  left:275px;  
}
#carousel #bottom {
  bottom: 0;
  left: 275px;
}

#carousel .arrow:hover {
  opacity:1;
}


#product {
  width:1000px;
  margin:200px auto;
  clear:both;
}
#product h1 {
  text-align:center;
}
#product .prod-list {
  list-style:none;
  padding:0;
}
#product .prod-list li {
  float: left;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
#product .prod-list img {
  margin:0;
  padding:0;
  float:left;
  z-index:5;
} 
#product .prod-list .caption {
  position: absolute;
  top:200px;  /* 기준 위치보다 200px 아래로 */
  width:300px;
  height:200px;
  padding-top:20px;
  background:rgba(0,0,0,0.6);  /* 반투명한 검정 배경 */ 
  opacity:0;  /* 화면에 보이지 않게 */ 
  transition: all 0.6s ease-in-out;  /* 나타날 때 부드럽게 트랜지션 추가 */
  z-index:10;  /* 다른 요소보다 위에 있도록 */ 
}
#product .prod-list li:hover .caption,
#product .prod-list .caption.is-fixed {
  opacity: 1;  /* 설명글이 화면에 보이게 */ 
  transform: translateY(-200px);  /* 설명글이 위로 200px 이동하게 */
}  
#product .prod-list .caption h2, .prod-list .caption p {
  color: #fff;
  text-align: center;
}      

#profile {
  width: 800px;
  margin: 0 auto;
}
#profile button {
  position:relative;
  top:200px;
  left:50%;
  width:120px;
  height:50px;
  margin-left:-60px;
  background-color:#06f;
  color:#fff;
  border:none;
  border-radius:5px;
  padding:15px;
  cursor: pointer;
}

#profile #modal-box {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(0,0,0,0.6);
  display:none;
  justify-content: center;
  align-items: center;
}

#profile #modal-box.active {
  display:flex;
}

#profile #modal-contents {
  background-color:#fff;
  width:300px;
  margin:0 auto;
  padding:20px;
  border-radius:5px;
  position:relative;
}

#profile #modal-contents button {
  position:absolute;
  width:20px;
  height:20px;
  top:30px;
  left:280px;
  padding:0;
  margin:0;
  background-color:#fff;
  color:#aaa;
  font-size:20px;
  border:none;
  outline:none;

}

#profile h1 {
  font-size:2rem;  
  margin-bottom:10px ;
}

#profile #dprofile {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border:1px solid #ccc;
  padding:10px;
}

#profile #desc {
  margin:10px 20px;
}

#profile p {
  font-size:0.8rem;
  line-height:1.5;
}
